@use 'src/styles/vars';
footer {

  .footer-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: vars.$gutter*2 0;
    
  
    .footer-item {
      margin-left: vars.$gutter*2;
      
    }
}

}
 